In [ ]:
##Import Dataset

import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 130)

df_unclean = pd.read_csv("bank-full.csv", sep = ";")
df_unclean.head()

In [ ]:
##Clean Dataset

In [4]:
#Initially there were no missing values

df_unclean.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [5]:
#Replace "unknown" values as missing

df_unclean.replace('unknown', np.NaN, inplace=True)

In [6]:
#Now check counts of missing values
#We decided to drop contact and poutcome from our analysis

df_unclean.isna().sum()

age              0
job            288
marital          0
education     1857
default          0
balance          0
housing          0
loan             0
contact      13020
day              0
month            0
duration         0
campaign         0
pdays            0
previous         0
poutcome     36959
y                0
dtype: int64

In [7]:
#We identify the missing rows from the variable job
#these rows were dropped from the entire dataset
####Drops all missing rows from job
df_clean=df_unclean[df_unclean['job'].notnull()]

In [8]:
#We identify the mode of the education variable
df_clean['education'].mode()

0    secondary
dtype: object

In [9]:
#We impute the missing values of education with its mode value
# fill missing values with mean column values
df_clean['education'].replace(to_replace = np.nan, value= 'secondary', inplace=True)

/Users/Mango/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [10]:
#Check for NA values, education has no missing values
df_clean['education'].value_counts()

secondary    24861
tertiary     13262
primary       6800
Name: education, dtype: int64

In [11]:
##pday has a column called -1 which also represents missing values
#Since the number of NA's is large, we also decided to drop pdays
#from our model
df_clean['pdays'].value_counts()

-1      36699
 182      165
 92       146
 183      126
 91       123
 181      117
 370       99
 184       85
 364       77
 95        73
 350       73
 94        72
 175       71
 185       67
 343       65
 93        63
 188       62
 186       60
 189       58
 96        57
 174       57
 349       57
 363       55
 90        54
 97        53
 196       51
 365       51
 368       49
 98        49
 357       49
        ...
 774        1
 550        1
 396        1
 492        1
 466        1
 45         1
 434        1
 18         1
 529        1
 465        1
 401        1
 784        1
 656        1
 592        1
 528        1
 464        1
 432        1
 655        1
 495        1
 543        1
 47         1
 782        1
 686        1
 558        1
 526        1
 749        1
 717        1
 589        1
 493        1
 32         1
Name: pdays, Length: 558, dtype: int64

In [12]:
#Check to make sure we have no missing values for columns of interest
df_clean.isna().sum()

age              0
job              0
marital          0
education        0
default          0
balance          0
housing          0
loan             0
contact      12909
day              0
month            0
duration         0
campaign         0
pdays            0
previous         0
poutcome     36704
y                0
dtype: int64

In [13]:
#Drop contact and poutcome variables
df_clean.drop(df_clean[['contact', 'poutcome']], axis=1, inplace=True)

/Users/Mango/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [220]:
#Check to see percent of target column that is yes and no
#This will be used as a baseline comparison for model performance
df_clean['y'].value_counts(normalize=True)

no     0.883022
yes    0.116978
Name: y, dtype: float64

In [14]:
#Look at cleaned data, get ready to select dependent and independent variables
df_clean

,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,y
0,58,management,married,tertiary,no,2143,yes,no,5,may,261,1,-1,0,no
1,44,technician,single,secondary,no,29,yes,no,5,may,151,1,-1,0,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,5,may,76,1,-1,0,no
3,47,blue-collar,married,secondary,no,1506,yes,no,5,may,92,1,-1,0,no
5,35,management,married,tertiary,no,231,yes,no,5,may,139,1,-1,0,no
6,28,management,single,tertiary,no,447,yes,yes,5,may,217,1,-1,0,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,5,may,380,1,-1,0,no
8,58,retired,married,primary,no,121,yes,no,5,may,50,1,-1,0,no
9,43,technician,single,secondary,no,593,yes,no,5,may,55,1,-1,0,no
10,41,admin.,divorced,secondary,no,270,yes,no,5,may,222,1,-1,0,no
11,29,admin.,single,secondary,no,390,yes,no,5,may,137,1,-1,0,no
12,53,technician,married,secondary,no,6,yes,no,5,may,517,1,-1,0,no
13,58,technician,married,secondary,no,71,yes,no,5,may,71,1,-1,0,no
14,57,services,married,secondary,no,162,yes,no,5,may,174,1,-1,0,no
15,51,retired,married,primary,no,229,yes,no,5,may,353,1,-1,0,no
16,45,admin.,single,secondary,no,13,yes,no,5,may,98,1,-1,0,no
17,57,blue-collar,married,primary,no,52,yes,no,5,may,38,1,-1,0,no
18,60,retired,married,primary,no,60,yes,no,5,may,219,1,-1,0,no
19,33,services,married,secondary,no,0,yes,no,5,may,54,1,-1,0,no
20,28,blue-collar,married,secondary,no,723,yes,yes,5,may,262,1,-1,0,no
21,56,management,married,tertiary,no,779,yes,no,5,may,164,1,-1,0,no
22,32,blue-collar,single,primary,no,23,yes,yes,5,may,160,1,-1,0,no
23,25,services,married,secondary,no,50,yes,no,5,may,342,1,-1,0,no
24,40,retired,married,primary,no,0,yes,yes,5,may,181,1,-1,0,no
25,44,admin.,married,secondary,no,-372,yes,no,5,may,172,1,-1,0,no
26,39,management,single,tertiary,no,255,yes,no,5,may,296,1,-1,0,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,5,may,127,1,-1,0,no
28,46,management,single,secondary,no,-246,yes,no,5,may,255,2,-1,0,no
29,36,technician,single,secondary,no,265,yes,yes,5,may,348,1,-1,0,no
30,57,technician,married,secondary,no,839,no,yes,5,may,225,1,-1,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45180,66,retired,married,secondary,no,3409,no,no,15,nov,414,2,27,6,no
45181,46,blue-collar,married,secondary,no,6879,no,no,15,nov,74,2,118,3,no
45182,34,technician,married,secondary,no,133,no,no,15,nov,401,2,187,5,yes
45183,70,retired,married,primary,no,324,no,no,15,nov,78,1,96,7,no
45184,63,retired,married,secondary,no,1495,no,no,16,nov,138,1,22,5,no
45185,60,services,married,tertiary,no,4256,yes,no,16,nov,200,1,92,4,yes
45187,32,services,single,secondary,no,1168,yes,no,16,nov,411,1,-1,0,yes
45188,29,management,single,secondary,no,703,yes,no,16,nov,236,1,550,2,yes
45189,25,services,single,secondary,no,199,no,no,16,nov,173,1,92,5,no
45190,32,blue-collar,married,secondary,no,136,no,no,16,nov,206,1,188,3,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,16,nov,262,1,183,1,yes
45192,29,management,single,tertiary,no,765,no,no,16,nov,238,1,-1,0,yes
45193,28,self-employed,single,tertiary,no,159,no,no,16,nov,449,2,33,4,yes
45194,59,management,married,tertiary,no,138,yes,yes,16,nov,162,2,187,5,no
45195,68,retired,married,secondary,no,1146,no,no,16,nov,212,1,187,6,yes
45196,25,student,single,secondary,no,358,no,no,16,nov,330,1,-1,0,yes
45197,36,management,single,secondary,no,1511,yes,no,16,nov,270,1,-1,0,yes
45198,37,management,married,tertiary,no,1428,no,no,16,nov,333,2,-1,0,no
45199,34,blue-collar,single,secondary,no,1475,yes,no,16,nov,1166,3,530,12,no
45200,38,technician,married,secondary,no,557,yes,no,16,nov,1556,4,-1,0,yes
45201,53,management,married,tertiary,no,583,no,no,17,nov,226,1,184,4,yes
45202,34,admin.,single,secondary,no,557,no,no,17,nov,224,1,-1,0,yes
45203,23,student,single,tertiary,no,113,no,no,17,nov,266,1,-1,0,yes
45204,73,retired,married,secondary,no,2850,no,no,17,nov,300,1,40,8,yes
45205,25,technician,single,secondary,no,505,no,yes,17,nov,386,2,-1,0,yes
45206,51,technician,married,tertiary,no,825,no,no,17,nov,977,3,-1,0,yes
45207,71,retired,divorced,primary,no,1729,no,no,17,nov,456,2,-1,0,yes
45208,72,retired,married,secondary,no,5715,no,no,17,nov,1127,5,184,3,yes
45209,57,blue-collar,married,secondary,no,668,no,no,17,nov,508,4,-1,0,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,17,nov,361,2,188,11,no

In [15]:
#Get one hot encoded values for independent categorical variables
#merge one hot encoded variables with independent numeric variables

X_enc = pd.get_dummies(df_clean[['marital', 'job', 'education', 'default', 'housing', 'loan', 'y']], drop_first= True)

numeric_data = df_clean[['age', 'balance', 'duration', 'campaign', 'previous']]
    
cleaned_data_merge = pd.merge(numeric_data, X_enc, how = 'left', left_index=True, right_index=True)

In [ ]:
####Omitted Categories for one hot encoded variables
#Marital - Divorced
#Jobs - admin
#Education - primary
# default - no
#housing - no
#loan - no

In [16]:
#look at data
cleaned_data_merge

,age,balance,duration,campaign,previous,marital_married,marital_single,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,education_secondary,education_tertiary,default_yes,housing_yes,loan_yes,y_yes
0,58,2143,261,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0
1,44,29,151,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0
2,33,2,76,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0
3,47,1506,92,1,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
5,35,231,139,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0
6,28,447,217,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,1,0
7,42,2,380,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,1,0,0
8,58,121,50,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
9,43,593,55,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0
10,41,270,222,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
11,29,390,137,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
12,53,6,517,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0
13,58,71,71,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0
14,57,162,174,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0
15,51,229,353,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
16,45,13,98,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
17,57,52,38,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
18,60,60,219,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
19,33,0,54,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0
20,28,723,262,1,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0
21,56,779,164,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0
22,32,23,160,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
23,25,50,342,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0
24,40,0,181,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0
25,44,-372,172,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
26,39,255,296,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0
27,52,113,127,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0
28,46,-246,255,2,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
29,36,265,348,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1,0
30,57,839,225,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45180,66,3409,414,2,6,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
45181,46,6879,74,2,3,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
45182,34,133,401,2,5,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1
45183,70,324,78,1,7,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
45184,63,1495,138,1,5,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
45185,60,4256,200,1,4,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1
45187,32,1168,411,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1
45188,29,703,236,1,2,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1
45189,25,199,173,1,5,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
45190,32,136,206,1,3,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
45191,75,3810,262,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1
45192,29,765,238,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1
45193,28,159,449,2,4,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1
45194,59,138,162,2,5,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,1,0
45195,68,1146,212,1,6,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
45196,25,358,330,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
45197,36,1511,270,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1
45198,37,1428,333,2,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
45199,34,1475,1166,3,12,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
45200,38,557,1556,4,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1
45201,53,583,226,1,4,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1
45202,34,557,224,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
45203,23,113,266,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1
45204,73,2850,300,1,8,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
45205,25,505,386,2,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,1
45206,51,825,977,3,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1
45207,71,1729,456,2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
45208,72,5715,1127,5,3,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
45209,57,668,508,4,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
45210,37,2971,361,2,11,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [222]:
#Split data into dependent and independent variables

cleaned_data_x = cleaned_data_merge.iloc[:,:-1]
cleaned_data_x
cleaned_data_y = cleaned_data_merge.iloc [:,-1:]
cleaned_data_x.head(2)

,age,balance,duration,campaign,previous,marital_married,marital_single,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,education_secondary,education_tertiary,default_yes,housing_yes,loan_yes
0,58,2143,261,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
1,44,29,151,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0

In [223]:
#Split data into dependent and independent variables

cleaned_data_x = cleaned_data_merge.iloc[:,:-1]
cleaned_data_x
cleaned_data_y = cleaned_data_merge.iloc [:,-1:]

In [17]:
#Check independent variables
cleaned_data_x.head(2)

,age,balance,duration,campaign,previous,marital_married,marital_single,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,education_secondary,education_tertiary,default_yes,housing_yes,loan_yes
0,58,2143,261,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
1,44,29,151,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0

In [221]:
#Check dependent variables
cleaned_data_y.head(2)

   y_yes
0      0
1      0

In [20]:
#Check missing values for independent variables
cleaned_data_x.isna().sum()

age                    0
balance                0
duration               0
campaign               0
previous               0
marital_married        0
marital_single         0
job_blue-collar        0
job_entrepreneur       0
job_housemaid          0
job_management         0
job_retired            0
job_self-employed      0
job_services           0
job_student            0
job_technician         0
job_unemployed         0
education_secondary    0
education_tertiary     0
default_yes            0
housing_yes            0
loan_yes               0
dtype: int64

In [49]:
#Split Data into training and testing groups
#We will have to standardize the numeric independent variables
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(cleaned_data_x, cleaned_data_y, test_size=0.1, random_state= 1254)

In [50]:
#Isolate training numeric independent variables
x_train_numeric = x_train.iloc[:,:5]

In [51]:
#Isolate tersting numeric independent variables
x_test_numeric = x_test.iloc[:,:5]

In [52]:
#Check we have all numeric independent variables, we do
x_test_numeric.head(2)

       age  balance  duration  campaign  previous
32462   32      932       944         1         1
34147   33      700       169         1         2

In [53]:
#Apply standard scalar
import sklearn
from sklearn.preprocessing import StandardScaler

scalar = sklearn.preprocessing.StandardScaler()

scalar_x_train_numeric = pd.DataFrame(scalar.fit_transform(x_train_numeric), index =x_train_numeric.index, columns=x_train_numeric.columns[0:5], )
scalar_x_test_numeric = pd.DataFrame(scalar.transform(x_test_numeric), index = x_test_numeric.index, columns=x_test_numeric.columns[0:5])

In [54]:
#Merge standardized numerical independent variables with categorical independent variables
x_train_complete = pd.merge(scalar_x_train_numeric, x_train.iloc[:,5:], how = 'left', left_index=True, right_index=True)
x_test_complete = pd.merge(scalar_x_test_numeric, x_test.iloc[:,5:], how = 'left', left_index=True, right_index=True)

In [55]:
#Check x training data
x_train_complete

,age,balance,duration,campaign,previous,marital_married,marital_single,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,education_secondary,education_tertiary,default_yes,housing_yes,loan_yes
29108,0.481107,-0.255399,-0.281311,-0.566541,-0.248662,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
12733,-0.272390,0.279103,-0.664779,-0.245122,-0.248662,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
44833,-0.743326,-0.156551,-0.951412,-0.566541,2.312930,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
20720,0.481107,-0.411200,-0.699640,-0.245122,-0.248662,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2817,-0.554952,-0.430839,2.189927,-0.245122,-0.248662,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
2275,0.386920,-0.438694,0.156384,0.719133,-0.248662,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
1477,-0.743326,-0.447532,0.334562,-0.245122,-0.248662,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
29680,1.140417,-0.289440,0.113777,0.076296,-0.248662,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
445,0.952043,-0.372904,-0.474982,-0.566541,-0.248662,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
33597,0.198546,0.329509,0.222233,-0.245122,0.605202,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
5873,1.234604,-0.583366,0.121524,-0.245122,-0.248662,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
33574,-0.084016,-0.199101,-0.877817,-0.245122,1.885998,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
10411,1.140417,-0.447532,0.210612,-0.566541,-0.248662,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0
5630,1.046230,0.737995,-0.846830,1.361970,-0.248662,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,1
12712,1.705540,-0.884822,0.741270,-0.245122,-0.248662,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1
43235,-0.837513,0.020198,-0.420754,0.397715,-0.248662,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
23152,0.386920,-0.444259,-0.486602,1.361970,-0.248662,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
28501,0.481107,0.273211,-0.680273,-0.245122,-0.248662,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
9273,0.952043,-0.277984,0.206739,0.076296,-0.248662,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4222,0.952043,-0.177826,-0.606678,-0.245122,-0.248662,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
26874,0.292733,-0.447532,2.263522,0.076296,-0.248662,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
10994,0.763669,0.897724,-0.808096,-0.245122,-0.248662,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0
10731,-0.460765,-0.206630,0.249346,-0.245122,-0.248662,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
13815,-1.120075,-0.543434,-0.420754,-0.566541,-0.248662,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1
15760,-0.554952,-0.447532,0.140891,0.076296,-0.248662,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
18409,-0.272390,0.971696,-0.126375,1.040552,-0.248662,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
14576,0.952043,-0.280930,-0.533083,0.397715,-0.248662,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
34260,-0.931701,1.678364,0.481751,-0.245122,1.032134,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
34647,-0.554952,-0.438694,0.710283,-0.245122,1.032134,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,1
18058,-0.084016,-0.353920,-0.591185,0.397715,-0.248662,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40702,2.929973,0.080096,1.051143,-0.245122,-0.248662,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3698,-0.743326,-0.447532,-0.180603,-0.566541,-0.248662,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
10236,0.763669,0.137703,0.059549,-0.245122,-0.248662,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
15875,0.575294,-0.453423,-0.595058,-0.245122,-0.248662,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
34070,-1.496824,-0.316607,0.361675,-0.566541,-0.248662,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
1471,0.952043,-0.201720,0.009195,0.719133,-0.248662,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
2495,1.234604,0.146214,1.016283,-0.566541,-0.248662,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1682,-1.120075,-0.367013,-0.827463,-0.566541,-0.248662,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
41099,3.024161,0.395299,-0.413007,-0.566541,-0.248662,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
34091,1.046230,-0.015806,-0.858450,-0.245122,-0.248662,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
16832,0.010171,0.154069,-0.064400,0.397715,-0.248662,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,1
35154,-0.366577,0.135085,-0.207716,-0.566541,-0.248662,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
9421,1.799727,6.759240,-0.316172,-0.245122,-0.248662,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
22775,0.386920,-0.331008,-0.839083,1.040552,-0.248662,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
34005,-0.931701,0.145559,0.783878,-0.566541,-0.248662,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
13289,-0.178203,2.076377,0.117650,-0.566541,-0.248662,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
39665,-0.649139,0.012670,-0.440121,-0.566541,-0.248662,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
43569,3.306722,1.183795,0.559220,-0.566541,0.178270,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
27711,0.857856,-0.186663,-0.207716,0.076296,3.166794,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
32065,-1.591011,-0.300896,0.253220,-0.566541,-0.248662,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
27204,-0.554952,0.524914,-0.567944,-0.245122,-0.248662,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
756,0.669481,0.781200,-0.037286,0.076296,-0.248662,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
25998,0.952043,-0.465861,1.105371,0.076296,-0.248662,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0
2208,-1.685198,-0.445895,0.597954,-0.566541,-0.248662,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
30827,-1.214262,-0.637046,-0.676400,-0.245122,-0.248662,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1
36091,0.010171,-0.370286,-0.749995,-0.566541,0.605202,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
23314,-0.931701,0.137703,-0.180603,3.933318,-0.248662,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
22718,-0.366577,1.313411,-0.525336,1.040552,-0.248662,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
31415,-0.460765,-0.262600,0.160258,-0.566541,-0.248662,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
26370,-0.931701,-0.282893,-0.312299,-0.566541,-0.248662,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0

In [294]:
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors=5)
clf.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [283]:
#Data has been prepped
#Begin fitting regression model
import warnings
warnings.filterwarnings("ignore")
import statsmodels.api as sm
import sklearn.linear_model 
from sklearn.linear_model import LogisticRegression
#create an instance and fit the model 
logmodel = LogisticRegression()
sk_res = logmodel.fit(x_train_complete, y_train)
sk_predictions = logmodel.predict(x_test_complete)

In [284]:
scores = cross_val_score(sk_res, x_train_complete, y_train, cv=10, scoring='accuracy')
print('Cross Validaiton Scores', scores)
print('Cross Validation Mean:', sum(scores)/10)

Cross Validaiton Scores [0.88847676 0.89144411 0.89292779 0.89116992 0.88844917 0.88968588
 0.88647044 0.8913904  0.88644236 0.88990599]
Cross Validation Mean: 0.889636282218118

In [59]:
from sklearn.metrics import classification_report
print(classification_report(y_test, sk_predictions))

             precision    recall  f1-score   support

          0       0.91      0.98      0.94      3995
          1       0.54      0.19      0.28       498

avg / total       0.87      0.89      0.87      4493

In [60]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, sk_predictions))

[[3913   82]
 [ 402   96]]

In [238]:
print('Accuracy score for Logistic is: '+ str(accuracy_score(y_test, sk_predictions)))

Accuracy score for Logistic is: 0.8922768751391053

In [285]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(np.asarray(x_train_complete), np.asarray(y_train));

In [286]:
from sklearn.ensemble import RandomForestClassifier
# random forest model creation
rfc = RandomForestClassifier()
rfc.fit(x_train_complete, y_train)
# predictions
rfc_predict = rfc.predict(x_test_complete)

In [287]:
scores = cross_val_score(rfc, x_train_complete, y_train, cv=10, scoring='accuracy')
print('Cross Validaiton Scores', scores)
print('Cross Validation Mean:', sum(scores)/10)

Cross Validaiton Scores [0.88452028 0.88847676 0.88822948 0.89018056 0.88523374 0.88350235
 0.87954489 0.88570015 0.88668976 0.88990599]
Cross Validation Mean: 0.8861983939991273

In [288]:
print("=== Logistic Confusion Matrix ===")
print(confusion_matrix(y_test, rfc_predict))
print('\n')
print("=== Logistic Accuracy Score ===")
print(accuracy_score(y_test, rfc_predict))

=== Logistic Confusion Matrix ===
[[3867  128]
 [ 390  108]]


=== Logistic Accuracy Score ===
0.8847095481860672

In [247]:
4011/(4011+357+125)

0.8927220120186957

In [289]:
#Need this to run xgboost
#!pip install xgboost

In [290]:
import xgboost as xgb

In [291]:
#splitting into test/train sets for XGBoost
D_train = xgb.DMatrix(x_train_complete, label=y_train)
D_test = xgb.DMatrix(x_test_complete, label=y_test)

In [292]:
#Paramaters for XGboost, we are using 200 iterations
param = {
    'eta': 0.3, 
    'max_depth': 5,  
    'objective': 'multi:softprob',  
    'num_class': 2,
    } 
steps = 200

In [293]:
import numpy as np
from sklearn.metrics import precision_score, recall_score, accuracy_score

preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

print("Precision = {}".format(precision_score(y_test, best_preds, average='macro')))
print("Recall = {}".format(recall_score(y_test, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(y_test, best_preds)))

Precision = 0.7288084104347927
Recall = 0.6584367507577242
Accuracy = 0.8942799910972624